@inherits LayoutComponentBase

<nav class="navbar navbar-nsi navbar-expand-lg sticky-top">
    <div class="container-xl">
        <a class="navbar-brand" href="/">
            Natural <span class="navbar-brand-accent">Stone</span> Impex
        </a>
        <div class="d-flex align-items-center d-lg-none">
            <div class="navbar-cart-mobile">
                <CartIcon />
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Навигация">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto navbar-nav-main">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Начална страница
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/catalog">
                        Каталог
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contacts">
                        Контакти
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav d-none d-lg-flex">
                <li class="nav-item">
                    <CartIcon />
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container-xl main-content">
    @Body
</main>

<Footer />
